.header, .footer
{
    --purple: rgb(147 51 234);
    background-color: var(--purple);
    height: 56px;
    width: 100%;
    z-index: 100;
}

.header
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer
{
    display: flex;
    justify-content: space-between;
}

.skeli-games-logo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 0.5rem;
    color: white;
}

.footer-button
{
    display: contents; /* So dark mode button transitions correctly */
    color: white !important;
    background-color: var(--purple) !important;
    border-color: var(--purple) !important;
    box-shadow: unset !important;
    font-size: 24px !important;
    border: none;
    border-radius: 0px;
    max-height: 56px;
}

.footer-button-icon
{
    display: flex;
    align-items: center;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}
