
body
{
    margin: 0;
    font-family: system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

html body.swal2-height-auto /* Fixes the pop-up destroying the layout */
{
    height: 100% !important;
}

code
{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
