
body
{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

body.swal2-height-auto /* Fixes the pop-up destroying the layout */
{
    height: 100% !important;
}

code
{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
